<div class="grid-2">
  <div>
    {%- if product.selected_or_first_available_variant.featured_image -%}
      {%- assign featured = product.selected_or_first_available_variant.featured_image -%}
      {{
        product.selected_or_first_available_variant.featured_image
        | image_url: width: 1200
        | image_tag: id: 'product-image'
      }}
    {%- else -%}
      {%- assign featured = product.featured_image -%}
      {{ product.featured_image | image_url: width: 1200 | image_tag: id: 'product-image' }}
    {%- endif -%}
  </div>
  <div>
    <h1>{{ product.title }}</h1>
    <div>
      <span class="product-price-compare">
        <s id="price-compare">{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>
      </span>
      <span class="product-price" id="price">{{- product.selected_or_first_available_variant.price | money }}</span>
    </div>
    <div>{{ product.description }}</div>

    {% form 'product', product %}
      <input type="hidden" name="id" id="product-id" value="{{ product.selected_or_first_available_variant.id }}">

      {%- if product.variants.size > 1 -%}
        <div class="product-option">
          {%- for option in product.options_with_values -%}
            <fieldset>
              <legend>{{ option.name }}</legend>
              {%- for value in option.values -%}
                <div>
                  <input
                    {% if option.selected_value == value %}
                      checked
                    {% endif %}
                    type="radio"
                    name="{{ option.name }}"
                    value="{{ value }}"
                    id="{{ option.name | handleize }}-{{ value | handleize }}"
                  >
                  <label for="{{ option.name | handleize }}-{{ value | handleize }}">{{ value }}</label>
                </div>
              {%- endfor -%}
            </fieldset>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="product-quantity">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="1">
      </div>

      <button type="submit">Add to Cart</button>
    {% endform %}
  </div>
</div>

<script>
  var product = {{ product | json }};

  // Find selected variant on change
  document.querySelectorAll('.product-option input[type="radio"]').forEach(radio => {
    radio.addEventListener('change', async () => {
      // Find selected options
      let selectedOptions = [];

      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio => {
        selectedOptions.push(radio.value);
      });

      // Filter down to selected variant
      let matchedVariant = product.variants.find(variant => {
        let pass = true;

        for(let i = 0; i < selectedOptions.length; i++) {
          if(selectedOptions.indexOf(variant.options[i]) === -1) {
            pass = false;
            break;
          }
        }

        return pass;
      });

      // Change product form variant ID field
      document.querySelector('#product-id').value = matchedVariant.id;

      // Update url
      const queryParams = new URLSearchParams(window.location.search);
      queryParams.set('variant', matchedVariant.id);
      window.history.replaceState(null, null, '?' + queryParams.toString());

      // Build full variant url
      queryParams.append('section_id', 'main-product');
      const variant_url = window.location.origin + window.location.pathname + '?' + queryParams.toString();

      // Get prices from variant pdp
      const response = await fetch(variant_url);
      const text = await response.text();
      const html = new DOMParser().parseFromString(text, 'text/html')
      const price = html.getElementById('price').textContent;
      const price_compare = html.getElementById('price-compare').textContent;

      // Update prices
      document.getElementById('price').textContent = price;
      document.getElementById('price-compare').textContent = price_compare;

      // Get variant image
      const newImage = html.getElementById('product-image');
      const currentImage = document.getElementById('product-image');
      // Replace the current node with the new node
      currentImage.parentNode.replaceChild(newImage, currentImage);
    });
  });
</script>
